.wrapper {
    padding-top: 10%;
    padding-left: 40px;
    padding-right: 40px;
       
}

.line {
    width: 70%;
    height: 2%;
    margin-left: 0;
    background-color: #E28437;
    border: none;
    border-radius: 7px 7px 7px 7px;
}

.icon {
    margin-top: 25px;
}

.icon-list {
    list-style-type: none;
    padding: 0; 
    margin: 0;
    align-items: center;
}